<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/amor-4.10.90.tar.xz">amor-4.10.90</a></td>
   <td align="right">175kB</td>
   <td><tt>ede6ef2b4139c6df38901542c3edad6ce0b6da42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/analitza-4.10.90.tar.xz">analitza-4.10.90</a></td>
   <td align="right">176kB</td>
   <td><tt>752254e7c65c2b9ea4c0c8f212432a2004e454a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ark-4.10.90.tar.xz">ark-4.10.90</a></td>
   <td align="right">229kB</td>
   <td><tt>78ae3f8b5de7edd042368b51dc55f1c55710185a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/audiocd-kio-4.10.90.tar.xz">audiocd-kio-4.10.90</a></td>
   <td align="right">54kB</td>
   <td><tt>ada3696be7b884a13748c5a98f0738a935fa8a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/blinken-4.10.90.tar.xz">blinken-4.10.90</a></td>
   <td align="right">552kB</td>
   <td><tt>0bf84c404f9f64f0da98d2ec703bb52e938045f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/bomber-4.10.90.tar.xz">bomber-4.10.90</a></td>
   <td align="right">382kB</td>
   <td><tt>7d6a74570c87f6ce92db59beef5ddfe3c8db3aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/bovo-4.10.90.tar.xz">bovo-4.10.90</a></td>
   <td align="right">105kB</td>
   <td><tt>34b3a7394b61eecaa4f17cc2b42d911a9e89d1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/cantor-4.10.90.tar.xz">cantor-4.10.90</a></td>
   <td align="right">304kB</td>
   <td><tt>2540037fe225d073c363927647778e87557f14c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/cervisia-4.10.90.tar.xz">cervisia-4.10.90</a></td>
   <td align="right">388kB</td>
   <td><tt>f5ceaca30bd46bb9b11d4532f6548675bc20bccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/dolphin-plugins-4.10.90.tar.xz">dolphin-plugins-4.10.90</a></td>
   <td align="right">54kB</td>
   <td><tt>71309cf236dbe56598e8da39ecd8ff551845d8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/dragon-4.10.90.tar.xz">dragon-4.10.90</a></td>
   <td align="right">385kB</td>
   <td><tt>6fce1133c3a62b427622b906dc5a8b581bdd8dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ffmpegthumbs-4.10.90.tar.xz">ffmpegthumbs-4.10.90</a></td>
   <td align="right">19kB</td>
   <td><tt>ae023bf18943cc9ae9b892a239a0ac945cddca96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/filelight-4.10.90.tar.xz">filelight-4.10.90</a></td>
   <td align="right">286kB</td>
   <td><tt>bef63093ab71f60bb5ce1b2b7ed5998c5f61dcfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/granatier-4.10.90.tar.xz">granatier-4.10.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>220b306a5b564f05c88a66485485ca67b488bc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/gwenview-4.10.90.tar.xz">gwenview-4.10.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>21bc242e849b5ec963f36900f6d8a2787814ee1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/jovie-4.10.90.tar.xz">jovie-4.10.90</a></td>
   <td align="right">358kB</td>
   <td><tt>17cebd8192fc8900015b81515eddfa6dbd5633a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/juk-4.10.90.tar.xz">juk-4.10.90</a></td>
   <td align="right">432kB</td>
   <td><tt>6f675bad5d793fca63c7468e202589775ed780e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kaccessible-4.10.90.tar.xz">kaccessible-4.10.90</a></td>
   <td align="right">19kB</td>
   <td><tt>791c243f8d6d05fd20122457c01a8c7e3695e352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kactivities-4.10.90.tar.xz">kactivities-4.10.90</a></td>
   <td align="right">84kB</td>
   <td><tt>e49549b7a62d0488217f23b7e7ccbb98a50fb558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kajongg-4.10.90.tar.xz">kajongg-4.10.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>94f11e70d7b01c80e82d93e8e1c2d3b70823c78b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kalgebra-4.10.90.tar.xz">kalgebra-4.10.90</a></td>
   <td align="right">433kB</td>
   <td><tt>d300efc169638a240d51ac76c70c8494b0eff46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kalzium-4.10.90.tar.xz">kalzium-4.10.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>464d0e1ce10bca1363ee6448ec4d97163d7ef301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kamera-4.10.90.tar.xz">kamera-4.10.90</a></td>
   <td align="right">36kB</td>
   <td><tt>7463f67bff2780406335b74e585f3f310c530bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kanagram-4.10.90.tar.xz">kanagram-4.10.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3efff3eb987bd883ad28e3d4ea46522b49f3ff59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kapman-4.10.90.tar.xz">kapman-4.10.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5db949a5671352261aeac3270f0401100de72c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kapptemplate-4.10.90.tar.xz">kapptemplate-4.10.90</a></td>
   <td align="right">686kB</td>
   <td><tt>3ccf446354a40ded92361b35e285014cdf4e09fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kate-4.10.90.tar.xz">kate-4.10.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1b08fb58e468253761208486ff179df3724b07ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/katomic-4.10.90.tar.xz">katomic-4.10.90</a></td>
   <td align="right">648kB</td>
   <td><tt>6e8a8bf3d442dfb29b1db30933303b7c51902452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kblackbox-4.10.90.tar.xz">kblackbox-4.10.90</a></td>
   <td align="right">257kB</td>
   <td><tt>3c707ef7e0ed3dcfea81484d39368e2c3a9f6214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kblocks-4.10.90.tar.xz">kblocks-4.10.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9daf8b7789e1de37a4057ceaf782f4d68fb03910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kbounce-4.10.90.tar.xz">kbounce-4.10.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e7231e0792e3ab95fffc89847fad2bb3af74b3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kbreakout-4.10.90.tar.xz">kbreakout-4.10.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>57cc37c7633fef76bbef1afeef100f738ebe675d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kbruch-4.10.90.tar.xz">kbruch-4.10.90</a></td>
   <td align="right">885kB</td>
   <td><tt>d1bc86b8794a808a7765098e1ace08bad812727f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kcachegrind-4.10.90.tar.xz">kcachegrind-4.10.90</a></td>
   <td align="right">244kB</td>
   <td><tt>690a494c6f42eb1e8ff6d26a1fd8840da0a57373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kcalc-4.10.90.tar.xz">kcalc-4.10.90</a></td>
   <td align="right">89kB</td>
   <td><tt>4ed4d0106df378445bff8ae9a155984c0fce524a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kcharselect-4.10.90.tar.xz">kcharselect-4.10.90</a></td>
   <td align="right">84kB</td>
   <td><tt>21ff1a62cfd05159be048b9351379d24899a2cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kcolorchooser-4.10.90.tar.xz">kcolorchooser-4.10.90</a></td>
   <td align="right">4kB</td>
   <td><tt>56f725baa459eb837f4073bda5c2e8258e0c8e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kcron-4.10.90.tar.xz">kcron-4.10.90</a></td>
   <td align="right">174kB</td>
   <td><tt>fc0967926b7bd488b1a4d68d32b95400b87d74ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdeartwork-4.10.90.tar.xz">kdeartwork-4.10.90</a></td>
   <td align="right">136MB</td>
   <td><tt>cda12c0727aa947d61c201a24506ae8dcf7a4a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-baseapps-4.10.90.tar.xz">kde-baseapps-4.10.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d1d73e1cd0e2bd7f5cc8c202033fe7e798bbcb48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-base-artwork-4.10.90.tar.xz">kde-base-artwork-4.10.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>cca43c964582022d8834c332ada3cb7487d18e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-dev-scripts-4.10.90.tar.xz">kde-dev-scripts-4.10.90</a></td>
   <td align="right">249kB</td>
   <td><tt>aacd8b244bab3e0af0213109388add5898d90ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-dev-utils-4.10.90.tar.xz">kde-dev-utils-4.10.90</a></td>
   <td align="right">50kB</td>
   <td><tt>e778bc5ba5f98149e6474d2fb7e1d5043811a177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdegraphics-mobipocket-4.10.90.tar.xz">kdegraphics-mobipocket-4.10.90</a></td>
   <td align="right">19kB</td>
   <td><tt>0a06734ba5d8f566478d1ff64fc85dd551944dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdegraphics-strigi-analyzer-4.10.90.tar.xz">kdegraphics-strigi-analyzer-4.10.90</a></td>
   <td align="right">39kB</td>
   <td><tt>17251e6f6332e6bf369ab993e756e3cd167f0658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdegraphics-thumbnailers-4.10.90.tar.xz">kdegraphics-thumbnailers-4.10.90</a></td>
   <td align="right">40kB</td>
   <td><tt>765b730ee8eab1d8ddb04ce12bbad9fa75739d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdelibs-4.10.90.tar.xz">kdelibs-4.10.90</a></td>
   <td align="right">11MB</td>
   <td><tt>97ee21c2dad48326009f3f1df8dab1a4467cf5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdenetwork-filesharing-4.10.90.tar.xz">kdenetwork-filesharing-4.10.90</a></td>
   <td align="right">26kB</td>
   <td><tt>79be51d3587a82615eb5a5da59b60f2c69f3d375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdenetwork-strigi-analyzers-4.10.90.tar.xz">kdenetwork-strigi-analyzers-4.10.90</a></td>
   <td align="right">14kB</td>
   <td><tt>e219ed9f0120e85801e0bf93fff49b85cc29bcdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdepim-4.10.90.tar.xz">kdepim-4.10.90</a></td>
   <td align="right">12MB</td>
   <td><tt>68d58c9abfaf1dd236ce3a89f48ed41fc66560f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdepimlibs-4.10.90.tar.xz">kdepimlibs-4.10.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>82412904a9c0ba336c4e547a9751a64c9656de83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdepim-runtime-4.10.90.tar.xz">kdepim-runtime-4.10.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4b1c73a23e3de9bd13af2298004a512aedfe14a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdeplasma-addons-4.10.90.tar.xz">kdeplasma-addons-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>edafc45136527a815740036098a76022d129750d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-runtime-4.10.90.tar.xz">kde-runtime-4.10.90</a></td>
   <td align="right">6.7MB</td>
   <td><tt>6835354be548a1389f895c63c24e0c8b6066165a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdesdk-kioslaves-4.10.90.tar.xz">kdesdk-kioslaves-4.10.90</a></td>
   <td align="right">352kB</td>
   <td><tt>0a8efc15780e38897572a958f8f886cd2fa45ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdesdk-strigi-analyzers-4.10.90.tar.xz">kdesdk-strigi-analyzers-4.10.90</a></td>
   <td align="right">17kB</td>
   <td><tt>e27ccef8f8afdcc7d1d8ecbe482f58f06bca9959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdesdk-thumbnailers-4.10.90.tar.xz">kdesdk-thumbnailers-4.10.90</a></td>
   <td align="right">11kB</td>
   <td><tt>85cb9417dccce540254e63df7b20f19ff62cd777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-wallpapers-4.10.90.tar.xz">kde-wallpapers-4.10.90</a></td>
   <td align="right">86MB</td>
   <td><tt>7224deaee4e138e6041ba2b73c21e7c0869797fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdewebdev-4.10.90.tar.xz">kdewebdev-4.10.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>84838ac108578601cdf5946e7fa1fabbe34f61a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-workspace-4.10.90.tar.xz">kde-workspace-4.10.90</a></td>
   <td align="right">13MB</td>
   <td><tt>17c75e8bd27cb36f0eda31aa72750e360443c7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdf-4.10.90.tar.xz">kdf-4.10.90</a></td>
   <td align="right">151kB</td>
   <td><tt>63db214e4e98b6edcc1f0f5bc7ab1608c6a82d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdiamond-4.10.90.tar.xz">kdiamond-4.10.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>7a3476cca405a195b96c5abee3f8de6c5ac945a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kdnssd-4.10.90.tar.xz">kdnssd-4.10.90</a></td>
   <td align="right">25kB</td>
   <td><tt>bb4da2a0ad7acd92fe1ddbcb255289ed21c2fc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kfloppy-4.10.90.tar.xz">kfloppy-4.10.90</a></td>
   <td align="right">59kB</td>
   <td><tt>cac8f8cdb4519b85f12c50a294d6ce44b4ac2826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kfourinline-4.10.90.tar.xz">kfourinline-4.10.90</a></td>
   <td align="right">279kB</td>
   <td><tt>1daf1d81756c10c7d8891feee4050cf23edb3575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kgamma-4.10.90.tar.xz">kgamma-4.10.90</a></td>
   <td align="right">25kB</td>
   <td><tt>087de03d404fb4e095b8f2618e1f13c60e00c5de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kgeography-4.10.90.tar.xz">kgeography-4.10.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>3f33b9a542e5560a7223cccaee09798a925a5b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kget-4.10.90.tar.xz">kget-4.10.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d2d0d586656808a4d7b17668703bfe46f900a012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kgoldrunner-4.10.90.tar.xz">kgoldrunner-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>69f6528fdaf71fc08c831174bdf344f544fa92c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kgpg-4.10.90.tar.xz">kgpg-4.10.90</a></td>
   <td align="right">792kB</td>
   <td><tt>d84b5c399caecc0c38e5ca364071502f491f6744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/khangman-4.10.90.tar.xz">khangman-4.10.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>199a9d06e3f501ba843b4478cb23cc3d9c5abcb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kig-4.10.90.tar.xz">kig-4.10.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1fc771899efbc5c6df4dc6e213b1cc4b889a8ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kigo-4.10.90.tar.xz">kigo-4.10.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8d2a749c119af559c1eeb17145bd3af9d41b0503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/killbots-4.10.90.tar.xz">killbots-4.10.90</a></td>
   <td align="right">950kB</td>
   <td><tt>e5395521e996630c0dea598fadba090783f42e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kimono-4.10.90.tar.xz">kimono-4.10.90</a></td>
   <td align="right">916kB</td>
   <td><tt>79e2d075d48bb3a2cd58eea6d9cd75de352a2e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kiriki-4.10.90.tar.xz">kiriki-4.10.90</a></td>
   <td align="right">122kB</td>
   <td><tt>6da4e198554bd2c90e5b9f667e5ea71c2f2668e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kiten-4.10.90.tar.xz">kiten-4.10.90</a></td>
   <td align="right">11MB</td>
   <td><tt>2588ebf478cc0300d06bb06c7a61cb472740755a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kjumpingcube-4.10.90.tar.xz">kjumpingcube-4.10.90</a></td>
   <td align="right">169kB</td>
   <td><tt>952142d2be363dc4772da913fe1ea6a24742b5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/klettres-4.10.90.tar.xz">klettres-4.10.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2376171d3ad48e355c016c73a9ac8f8a8816a709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/klickety-4.10.90.tar.xz">klickety-4.10.90</a></td>
   <td align="right">772kB</td>
   <td><tt>5769768a886966fad91674af1ea7fa3b107e81e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/klines-4.10.90.tar.xz">klines-4.10.90</a></td>
   <td align="right">934kB</td>
   <td><tt>e3f233feb612231180f55c9f0ee635374fb88ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmag-4.10.90.tar.xz">kmag-4.10.90</a></td>
   <td align="right">90kB</td>
   <td><tt>57beebed2c876b7c889110f58cc533be906c7d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmahjongg-4.10.90.tar.xz">kmahjongg-4.10.90</a></td>
   <td align="right">989kB</td>
   <td><tt>3c9956535b8eda0e9e1865a5f139bf52debac472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmines-4.10.90.tar.xz">kmines-4.10.90</a></td>
   <td align="right">642kB</td>
   <td><tt>fa3a3d8c92d1b134f680073c90ef7cc284aad08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmix-4.10.90.tar.xz">kmix-4.10.90</a></td>
   <td align="right">374kB</td>
   <td><tt>4e581a4947a4cfc33f0aa8eb685281e8c07c9816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmousetool-4.10.90.tar.xz">kmousetool-4.10.90</a></td>
   <td align="right">42kB</td>
   <td><tt>fbb9b7ef7dd208fa19315b217c08a8359feb2cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmouth-4.10.90.tar.xz">kmouth-4.10.90</a></td>
   <td align="right">310kB</td>
   <td><tt>745943199d058b6e8be850b8fda60794624c8c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kmplot-4.10.90.tar.xz">kmplot-4.10.90</a></td>
   <td align="right">661kB</td>
   <td><tt>9ff4a99cb761fcafbb679fc7e241896a98fb1dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/knavalbattle-4.10.90.tar.xz">knavalbattle-4.10.90</a></td>
   <td align="right">835kB</td>
   <td><tt>aa34fa8caad755e3322f579a4584748616c3dfb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/knetwalk-4.10.90.tar.xz">knetwalk-4.10.90</a></td>
   <td align="right">769kB</td>
   <td><tt>37f47471473d99731ac92f184a284065c180a3d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kolf-4.10.90.tar.xz">kolf-4.10.90</a></td>
   <td align="right">762kB</td>
   <td><tt>0afcc84ef8408448b6aee47431e754d629c32a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kollision-4.10.90.tar.xz">kollision-4.10.90</a></td>
   <td align="right">207kB</td>
   <td><tt>78708e2026bf3d195d75bcfd3892ae23832c7801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kolourpaint-4.10.90.tar.xz">kolourpaint-4.10.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a4c05b24c4367a1223d77f7af8d65221abb4a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kompare-4.10.90.tar.xz">kompare-4.10.90</a></td>
   <td align="right">377kB</td>
   <td><tt>63d0ca83dc51fefbbc11f37a2a98b3ca4fce3f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/konquest-4.10.90.tar.xz">konquest-4.10.90</a></td>
   <td align="right">405kB</td>
   <td><tt>770281afe868f38fe025b2cb4de216a4ed18c6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/konsole-4.10.90.tar.xz">konsole-4.10.90</a></td>
   <td align="right">450kB</td>
   <td><tt>2aa05871ab7e8471c5c756a63d399eb3994fe2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kopete-4.10.90.tar.xz">kopete-4.10.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>d199844a07852ce8f0de2a69ccfca1aa9d6151d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/korundum-4.10.90.tar.xz">korundum-4.10.90</a></td>
   <td align="right">157kB</td>
   <td><tt>3e74cf6cdf908357cba6eebaf829322c1276b221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kpat-4.10.90.tar.xz">kpat-4.10.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7fadfcfd1ab5384b23b8cd1c5d7cf3e0713b2f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kppp-4.10.90.tar.xz">kppp-4.10.90</a></td>
   <td align="right">721kB</td>
   <td><tt>8b6ae42e50ad139800cf1ae6e5536573b0ada321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/krdc-4.10.90.tar.xz">krdc-4.10.90</a></td>
   <td align="right">392kB</td>
   <td><tt>519da7266cc54b177b21d53763fd420bfda9faaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kremotecontrol-4.10.90.tar.xz">kremotecontrol-4.10.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4772f645bd121803ba626111d77595d1934a0fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kreversi-4.10.90.tar.xz">kreversi-4.10.90</a></td>
   <td align="right">387kB</td>
   <td><tt>24371269c8c0927b5443a3026f2d1ba128de22ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/krfb-4.10.90.tar.xz">krfb-4.10.90</a></td>
   <td align="right">448kB</td>
   <td><tt>ab3f5e3e07745f9233f34f1f72a8180560d94f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kross-interpreters-4.10.90.tar.xz">kross-interpreters-4.10.90</a></td>
   <td align="right">127kB</td>
   <td><tt>f65ce168626a9bdc35a8dfb4bc097a55ed7e1470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kruler-4.10.90.tar.xz">kruler-4.10.90</a></td>
   <td align="right">130kB</td>
   <td><tt>c6c3aaf54793cbed55f724319df21d78016aaefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksaneplugin-4.10.90.tar.xz">ksaneplugin-4.10.90</a></td>
   <td align="right">12kB</td>
   <td><tt>18a93118344f8f6c9365314d2eb3954be8410dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kscd-4.10.90.tar.xz">kscd-4.10.90</a></td>
   <td align="right">90kB</td>
   <td><tt>e6a9718c1dfa48df6d35585bcd12d797815a2bed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kshisen-4.10.90.tar.xz">kshisen-4.10.90</a></td>
   <td align="right">140kB</td>
   <td><tt>ee891663e7980499521c1695b6391d35c4bcdf78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksirk-4.10.90.tar.xz">ksirk-4.10.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>5849b8d23e765664fe4ae794f5a01b0eb2d3954d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksnakeduel-4.10.90.tar.xz">ksnakeduel-4.10.90</a></td>
   <td align="right">318kB</td>
   <td><tt>ddc1d061fcfa2d02a218f9fc07c46474df84be7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksnapshot-4.10.90.tar.xz">ksnapshot-4.10.90</a></td>
   <td align="right">257kB</td>
   <td><tt>349c440930d400f5e415477854344c364916d069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kspaceduel-4.10.90.tar.xz">kspaceduel-4.10.90</a></td>
   <td align="right">255kB</td>
   <td><tt>abf51f93fee4ad7efb584a4cc6c8b9176762a79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksquares-4.10.90.tar.xz">ksquares-4.10.90</a></td>
   <td align="right">81kB</td>
   <td><tt>1f80deaa4508826c170251646d63f9252a2d63e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kstars-4.10.90.tar.xz">kstars-4.10.90</a></td>
   <td align="right">11MB</td>
   <td><tt>048f784707f91abc6e317d0d3f8f9abf019c5c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksudoku-4.10.90.tar.xz">ksudoku-4.10.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2aec8e355bf576e623130bfaad8a17b1d029c72d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ksystemlog-4.10.90.tar.xz">ksystemlog-4.10.90</a></td>
   <td align="right">378kB</td>
   <td><tt>5771fc386155c284c28228f0e607ec7ecdf22fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kteatime-4.10.90.tar.xz">kteatime-4.10.90</a></td>
   <td align="right">102kB</td>
   <td><tt>1992ae48606f57c63d41877506c19788388e75ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ktimer-4.10.90.tar.xz">ktimer-4.10.90</a></td>
   <td align="right">146kB</td>
   <td><tt>c184400b3b255e8f9b4f6f25db4a458d0cface60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ktouch-4.10.90.tar.xz">ktouch-4.10.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>90d122d16175747c530c1730c25c2995aafda1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ktuberling-4.10.90.tar.xz">ktuberling-4.10.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>89f07b79e391ae4092f86a398b3ac52f9dceff83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kturtle-4.10.90.tar.xz">kturtle-4.10.90</a></td>
   <td align="right">205kB</td>
   <td><tt>9988fbbcfd191f886434f34ffdebd7f0c3425726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/ktux-4.10.90.tar.xz">ktux-4.10.90</a></td>
   <td align="right">106kB</td>
   <td><tt>f24b84246e851c18814f1145c2dbb9834d4dbafc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kubrick-4.10.90.tar.xz">kubrick-4.10.90</a></td>
   <td align="right">117kB</td>
   <td><tt>408c7dae7158d43c957c41ff7a498dde8cd03249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kuser-4.10.90.tar.xz">kuser-4.10.90</a></td>
   <td align="right">117kB</td>
   <td><tt>36140f8bf5abca82e7fb8d4068d2305f4fbe95c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kwallet-4.10.90.tar.xz">kwallet-4.10.90</a></td>
   <td align="right">281kB</td>
   <td><tt>900264671feb3df0c437e8739e055568ec1d9070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kwordquiz-4.10.90.tar.xz">kwordquiz-4.10.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>20ab2006d5f4d4cbd5f1339a37af6671f9dc32e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkcddb-4.10.90.tar.xz">libkcddb-4.10.90</a></td>
   <td align="right">159kB</td>
   <td><tt>172914ec57d8497b2d899f36372279df8a8df0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkcompactdisc-4.10.90.tar.xz">libkcompactdisc-4.10.90</a></td>
   <td align="right">73kB</td>
   <td><tt>472cd479a990421ff85fde51a19421c0d6c965dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkdcraw-4.10.90.tar.xz">libkdcraw-4.10.90</a></td>
   <td align="right">341kB</td>
   <td><tt>92de68e245b051be00e6c8410e6f9a463edce895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkdeedu-4.10.90.tar.xz">libkdeedu-4.10.90</a></td>
   <td align="right">204kB</td>
   <td><tt>243ae7583fad457ecaac72c21cf99dcdd59db639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkdegames-4.10.90.tar.xz">libkdegames-4.10.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>cc8011c46a903eca9c8477a19dd2b82ce87e9788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkexiv2-4.10.90.tar.xz">libkexiv2-4.10.90</a></td>
   <td align="right">132kB</td>
   <td><tt>80df42f86cda6b66253e2755768b9d8113a978a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkipi-4.10.90.tar.xz">libkipi-4.10.90</a></td>
   <td align="right">92kB</td>
   <td><tt>0197219e84b6b6f62b0d4846e8ed523fc7a3f13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libkmahjongg-4.10.90.tar.xz">libkmahjongg-4.10.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b296a0167a0aba100eb347f22fc9b9ed242cab42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/libksane-4.10.90.tar.xz">libksane-4.10.90</a></td>
   <td align="right">78kB</td>
   <td><tt>c7b6511960a689a8c65f34ebecee2bc5212cae1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/lokalize-4.10.90.tar.xz">lokalize-4.10.90</a></td>
   <td align="right">836kB</td>
   <td><tt>ff5bbc38a25daed81a2e595ac2830d8e49bdf1ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/lskat-4.10.90.tar.xz">lskat-4.10.90</a></td>
   <td align="right">933kB</td>
   <td><tt>9bf08b3cc1eafc999e4451b555af92cd4db9a7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/marble-4.10.90.tar.xz">marble-4.10.90</a></td>
   <td align="right">18MB</td>
   <td><tt>1b8fc2dd107262fa791df175fad7318ccf3b348a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/mplayerthumbs-4.10.90.tar.xz">mplayerthumbs-4.10.90</a></td>
   <td align="right">26kB</td>
   <td><tt>291d295b2cb7ba336b8d2fb48ebfc42981dace68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/nepomuk-core-4.10.90.tar.xz">nepomuk-core-4.10.90</a></td>
   <td align="right">374kB</td>
   <td><tt>d577de6d86049ab766a299ae0c7a83e703951b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/nepomuk-widgets-4.10.90.tar.xz">nepomuk-widgets-4.10.90</a></td>
   <td align="right">46kB</td>
   <td><tt>015a7f2a1c054a347c07817b548c4ed14823735c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/okteta-4.10.90.tar.xz">okteta-4.10.90</a></td>
   <td align="right">500kB</td>
   <td><tt>3441590dd99a88f4c87e3bb16d5fef53290eeeb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/okular-4.10.90.tar.xz">okular-4.10.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b02e2e567f6d838e524ea4e2603bcac5eecaa7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/oxygen-icons-4.10.90.tar.xz">oxygen-icons-4.10.90</a></td>
   <td align="right">280MB</td>
   <td><tt>be09fb567ae9131f5fc4b5d8df194038ef2cab07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/pairs-4.10.90.tar.xz">pairs-4.10.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ea568e6c0ffde6d88411aef772fe394cccbf4ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/palapeli-4.10.90.tar.xz">palapeli-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d2c40bfa37cea701a7ee9803300947b3d451d6a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/parley-4.10.90.tar.xz">parley-4.10.90</a></td>
   <td align="right">7.8MB</td>
   <td><tt>25823044fffd2fcccfd69409bad6432f11d9dedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/perlkde-4.10.90.tar.xz">perlkde-4.10.90</a></td>
   <td align="right">39kB</td>
   <td><tt>b9b813976087b3a1013e99e00310f9cf25606b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/perlqt-4.10.90.tar.xz">perlqt-4.10.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>df8b540beb475342ceaba7036d54fb26017fc3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/picmi-4.10.90.tar.xz">picmi-4.10.90</a></td>
   <td align="right">716kB</td>
   <td><tt>d78fbef371ef4295f38d455a4de6aca445a2ca1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/poxml-4.10.90.tar.xz">poxml-4.10.90</a></td>
   <td align="right">30kB</td>
   <td><tt>33eb593992c9e4fc27d2851ec9fac677f74c4464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/print-manager-4.10.90.tar.xz">print-manager-4.10.90</a></td>
   <td align="right">90kB</td>
   <td><tt>178f500262184a75853cb8aa9ef86b91db033030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/pykde4-4.10.90.tar.xz">pykde4-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>73cb7b94ca2461fcf972b1b56fea261a3974fa16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/qtruby-4.10.90.tar.xz">qtruby-4.10.90</a></td>
   <td align="right">518kB</td>
   <td><tt>61c39e86f380378b4ad0ff95b16364d16df78205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/qyoto-4.10.90.tar.xz">qyoto-4.10.90</a></td>
   <td align="right">498kB</td>
   <td><tt>38689497f9149b678de33d6dd09def8f626084e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/rocs-4.10.90.tar.xz">rocs-4.10.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3ce26c0b2d9ea17eba21574ac1d8538bfcf8421c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/smokegen-4.10.90.tar.xz">smokegen-4.10.90</a></td>
   <td align="right">143kB</td>
   <td><tt>885d78b0d8abce699595f2dada09da043c1c673e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/smokekde-4.10.90.tar.xz">smokekde-4.10.90</a></td>
   <td align="right">36kB</td>
   <td><tt>b678430a82f6a8640884dc8317aabad34066eb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/smokeqt-4.10.90.tar.xz">smokeqt-4.10.90</a></td>
   <td align="right">30kB</td>
   <td><tt>a4a096ce8c3973c469d03d25ec7e3d54a3efe1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/step-4.10.90.tar.xz">step-4.10.90</a></td>
   <td align="right">362kB</td>
   <td><tt>ad84f5f09510cf3ab2b2b777226410a909021c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/superkaramba-4.10.90.tar.xz">superkaramba-4.10.90</a></td>
   <td align="right">374kB</td>
   <td><tt>2a77fdc28b999b0cde85b025dfcaddbcb8f0a558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/svgpart-4.10.90.tar.xz">svgpart-4.10.90</a></td>
   <td align="right">8kB</td>
   <td><tt>d4156d501c1a2fd67add60e13236e97e43877899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/sweeper-4.10.90.tar.xz">sweeper-4.10.90</a></td>
   <td align="right">81kB</td>
   <td><tt>433a52306c7712eb4bf2b736e81c11ca9222c70c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/umbrello-4.10.90.tar.xz">umbrello-4.10.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>588ebba04cf00e6ffaa87a1868b3245ae0754243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ar-4.10.90.tar.xz">kde-l10n-ar-4.10.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>03c8743563a027e4e43a32bd924b2d4ab776a7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-bg-4.10.90.tar.xz">kde-l10n-bg-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>17f2cfeff18cfa43ba9c5d94c71d9c642370fa56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-bs-4.10.90.tar.xz">kde-l10n-bs-4.10.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>08fc32efd166b591e606e4b230b7eb56d5cda69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ca-4.10.90.tar.xz">kde-l10n-ca-4.10.90</a></td>
   <td align="right">12MB</td>
   <td><tt>e5020e3405a63df6e6a79211c66a5ea4c79815fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ca@valencia-4.10.90.tar.xz">kde-l10n-ca@valencia-4.10.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bbad32190ea3a7869fbb47e3176d6a844ef988d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-cs-4.10.90.tar.xz">kde-l10n-cs-4.10.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>aaabe3ef3e35efb47234d1f83a38e469e5888a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-da-4.10.90.tar.xz">kde-l10n-da-4.10.90</a></td>
   <td align="right">12MB</td>
   <td><tt>12f1b00ca07d7588880569442b78a0a96016a058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-de-4.10.90.tar.xz">kde-l10n-de-4.10.90</a></td>
   <td align="right">36MB</td>
   <td><tt>86ca2300eb8c692bf958486db8dae5e0ccb5501e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-el-4.10.90.tar.xz">kde-l10n-el-4.10.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>3937a95ab76f97d5acfb2c775c893e2c60300f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-en_GB-4.10.90.tar.xz">kde-l10n-en_GB-4.10.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>df04667eb344559e157ea9bb554be8f045cf3954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-es-4.10.90.tar.xz">kde-l10n-es-4.10.90</a></td>
   <td align="right">22MB</td>
   <td><tt>8fbdb99a60304db85ae83da85937339815769626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-et-4.10.90.tar.xz">kde-l10n-et-4.10.90</a></td>
   <td align="right">7.1MB</td>
   <td><tt>37feb551bee4949022b7833ae913abaa4a25b382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-eu-4.10.90.tar.xz">kde-l10n-eu-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9f73606e547301efd3f92aa8af49e577e6334c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-fa-4.10.90.tar.xz">kde-l10n-fa-4.10.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>994e6d068556471cbb0c7a3c473cb645b43ed3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-fi-4.10.90.tar.xz">kde-l10n-fi-4.10.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e633f250c56eb20cfb127f5df9627e000bbc5707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-fr-4.10.90.tar.xz">kde-l10n-fr-4.10.90</a></td>
   <td align="right">42MB</td>
   <td><tt>22d2b31ac38d5f3633a758066ad620fbaec0561a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ga-4.10.90.tar.xz">kde-l10n-ga-4.10.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2cae537970178d4f42fd6c075b7fccd4eab0da5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-gl-4.10.90.tar.xz">kde-l10n-gl-4.10.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>9777a4bbb2bfccfdd2dace728de78d7b97a9787f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-he-4.10.90.tar.xz">kde-l10n-he-4.10.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>34edd90397af69acbd396decd629443411c7dcd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-hi-4.10.90.tar.xz">kde-l10n-hi-4.10.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>77ab9aebb4ab580c60e104a398dc02b88632d425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-hr-4.10.90.tar.xz">kde-l10n-hr-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>71cb28fdc098df6a3cd03c550cc82a906901abe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-hu-4.10.90.tar.xz">kde-l10n-hu-4.10.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>85900f75583407453bc832590be76ffe31cbf5d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ia-4.10.90.tar.xz">kde-l10n-ia-4.10.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1b0d30cebb5071da55adcad84c31060eb112ff87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-is-4.10.90.tar.xz">kde-l10n-is-4.10.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>810ee3e7855e70b05a41a81695cac692b4c8876d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-it-4.10.90.tar.xz">kde-l10n-it-4.10.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>f5568eb66d3871d8cb4b62acc45ca5eef03ea95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ja-4.10.90.tar.xz">kde-l10n-ja-4.10.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f0089b74fe9bd4f0a73933f350fd18b2eccd298d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-kk-4.10.90.tar.xz">kde-l10n-kk-4.10.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f1b3c0c9947e4a84174e808c1eed9f06fa77b516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-km-4.10.90.tar.xz">kde-l10n-km-4.10.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9a5e87d35f164c4f5ac60d068e8d0a60543c229d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ko-4.10.90.tar.xz">kde-l10n-ko-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bb855320f21616af96a47ded33e0476f71ff2fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-lt-4.10.90.tar.xz">kde-l10n-lt-4.10.90</a></td>
   <td align="right">12MB</td>
   <td><tt>c60936d24c90a4c57cc4d56808e3472a8c9957c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-lv-4.10.90.tar.xz">kde-l10n-lv-4.10.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e0656737655b2635100a32b1797b5cc6cae1ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-mr-4.10.90.tar.xz">kde-l10n-mr-4.10.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5cca8f4be8c155bb251f469bacfb8f93a9bdf3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-nb-4.10.90.tar.xz">kde-l10n-nb-4.10.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>415035607ebb8cccf71682e5011cb70de641270d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-nds-4.10.90.tar.xz">kde-l10n-nds-4.10.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>533c7942caa75c8cb542db8145f21e07ea6bd4c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-nl-4.10.90.tar.xz">kde-l10n-nl-4.10.90</a></td>
   <td align="right">15MB</td>
   <td><tt>e428e3c3e01e0345610a43b3280222d3c50d889a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-nn-4.10.90.tar.xz">kde-l10n-nn-4.10.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>42f543415d7950ba4012eb5bb4daa6717c92e6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-pa-4.10.90.tar.xz">kde-l10n-pa-4.10.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4910bf459679bcd53ec1d9b4dc8e6aa8c88e04a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-pl-4.10.90.tar.xz">kde-l10n-pl-4.10.90</a></td>
   <td align="right">16MB</td>
   <td><tt>a98fe71300605f17851d9a47603d0d7e57aed08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-pt-4.10.90.tar.xz">kde-l10n-pt-4.10.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e2fa0bd5c224d1c4963074022e606f0872653b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-pt_BR-4.10.90.tar.xz">kde-l10n-pt_BR-4.10.90</a></td>
   <td align="right">26MB</td>
   <td><tt>65f37e6f76107596171d7c39f938c8cc0ead20a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ro-4.10.90.tar.xz">kde-l10n-ro-4.10.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2970963c49aa2b56ae22614781d21ecaec4cb9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ru-4.10.90.tar.xz">kde-l10n-ru-4.10.90</a></td>
   <td align="right">22MB</td>
   <td><tt>13c0d2faaa99feca42cfe4718c0b41a5115319da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-si-4.10.90.tar.xz">kde-l10n-si-4.10.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a9d55d2222a654649f4fa2d37a3cf58277275a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-sk-4.10.90.tar.xz">kde-l10n-sk-4.10.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>ea4b5ead8779ee74127b6a363d7dcaa361f3ea09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-sl-4.10.90.tar.xz">kde-l10n-sl-4.10.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>44b5f53b33469e49e4f5c035b96fcde90e37fc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-sr-4.10.90.tar.xz">kde-l10n-sr-4.10.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>1d7d5b95bd76fa3bc2096ea0bd03cef21628891e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-sv-4.10.90.tar.xz">kde-l10n-sv-4.10.90</a></td>
   <td align="right">15MB</td>
   <td><tt>c0ac98ea1000674537cb60272c0d34858785a15d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-tg-4.10.90.tar.xz">kde-l10n-tg-4.10.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>77e77d627968d66a6a349d44d7ba41975ca3ec5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-th-4.10.90.tar.xz">kde-l10n-th-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cc4d2f9c3ae6c4fcbe166b55e10091af19fd413c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-tr-4.10.90.tar.xz">kde-l10n-tr-4.10.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>3d591b55ff8038adff3cf83b8c7bf03be7d68f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-ug-4.10.90.tar.xz">kde-l10n-ug-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>822c98b42c02cc79ebb6ffb3069ab200a8f42acb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-uk-4.10.90.tar.xz">kde-l10n-uk-4.10.90</a></td>
   <td align="right">26MB</td>
   <td><tt>a2669d2fb5cb89ed0e89936afe758d32e560b47d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-vi-4.10.90.tar.xz">kde-l10n-vi-4.10.90</a></td>
   <td align="right">918kB</td>
   <td><tt>178dead8fad6fd071dea361c40dae5c855ed0989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-wa-4.10.90.tar.xz">kde-l10n-wa-4.10.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>635ebb1b0313e2139612a0e9eb4c8c1fe9fd174e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-zh_CN-4.10.90.tar.xz">kde-l10n-zh_CN-4.10.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>18c851164e7593973335acab57e7b74058fdca46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.90/src/kde-l10n/kde-l10n-zh_TW-4.10.90.tar.xz">kde-l10n-zh_TW-4.10.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7f2b384a183bf290a67b1ed706461ac32f41f11b</tt></td>
</tr>

</table>
