<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/bluedevil-5.13.90.tar.xz">bluedevil-5.13.90</a></td>
   <td align="right">154kB</td>
   <td><tt>278e52c6daee0ecfd1dc872f465a38b3ef182a6cfdf07b0a2678c3ee26218008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/breeze-5.13.90.tar.xz">breeze-5.13.90</a></td>
   <td align="right">23MB</td>
   <td><tt>45eaa8a964327ffd6e665decaf1649baa8b9301a086a5132ffc2b865f672173d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/breeze-grub-5.13.90.tar.xz">breeze-grub-5.13.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b33f3effd25ac25e53f9c61766e633e40faaa4754af87d8fe6da2bb25fa78290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/breeze-gtk-5.13.90.tar.xz">breeze-gtk-5.13.90</a></td>
   <td align="right">197kB</td>
   <td><tt>9b14261f8ff4659e3c57a6c3ca1176aedafa552b3cf783c29d7390e7e6daaf5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/breeze-plymouth-5.13.90.tar.xz">breeze-plymouth-5.13.90</a></td>
   <td align="right">103kB</td>
   <td><tt>e18d49fee8f41469dcef5a8ad4bef9f8965e8b5825381dc54f43dc65b3d47419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/discover-5.13.90.tar.xz">discover-5.13.90</a></td>
   <td align="right">9.7MB</td>
   <td><tt>e026dbfc49ae24f675843a86c2ea990fc5208569004efda0d81d7eb65f17d061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/drkonqi-5.13.90.tar.xz">drkonqi-5.13.90</a></td>
   <td align="right">719kB</td>
   <td><tt>f43a76e8f889fb5ba935588c437f8d36b1d43fbb6938caf725ba619a441f6e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kactivitymanagerd-5.13.90.tar.xz">kactivitymanagerd-5.13.90</a></td>
   <td align="right">84kB</td>
   <td><tt>c336e0589c2a15467642f6411079aeb3b9a9618e0c4d49d4c2d1b521ecb1262d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kde-cli-tools-5.13.90.tar.xz">kde-cli-tools-5.13.90</a></td>
   <td align="right">571kB</td>
   <td><tt>714c3eb0fc74160d3d9b72501748b35ac001cb3f9ce157a96a79f0416edb53fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kdecoration-5.13.90.tar.xz">kdecoration-5.13.90</a></td>
   <td align="right">41kB</td>
   <td><tt>dba9a8dace8def4d3b91aec40d582a3aca0435cf76b0646e01f82d4474cd1bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kde-gtk-config-5.13.90a.tar.xz">kde-gtk-config-5.13.90a</a></td>
   <td align="right">152kB</td>
   <td><tt>b0539f3cd8e9d0340e9356de236429ca4000baad2d3bf3105fcd46bd55a78ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kdeplasma-addons-5.13.90.tar.xz">kdeplasma-addons-5.13.90</a></td>
   <td align="right">588kB</td>
   <td><tt>0e76bdd05e2b8118411ed3036c03df6f7807657f5b65116115877b596a683dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kgamma5-5.13.90.tar.xz">kgamma5-5.13.90</a></td>
   <td align="right">77kB</td>
   <td><tt>eff97d659b763c85c75d5d3dd5d4971c526e969057e21130f2a0a5b678f5c9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/khotkeys-5.13.90.tar.xz">khotkeys-5.13.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ea907d7ac940df6de9690ed03b2c1714fc2facbbb1f438c8cd6b26d9d0c4b4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kinfocenter-5.13.90.tar.xz">kinfocenter-5.13.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ca670c6adc2d45ed28f90c68c79ddf5a5b2cb0bddf1bbd09ce08387ed2d6c393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kmenuedit-5.13.90.tar.xz">kmenuedit-5.13.90</a></td>
   <td align="right">753kB</td>
   <td><tt>eb64a6e6960c0bc7c0b4a018dc73988446e9ae8a830074f94878df5ef9d4ad93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kscreen-5.13.90.tar.xz">kscreen-5.13.90</a></td>
   <td align="right">117kB</td>
   <td><tt>a5f96493f2d945a73c2803046a0fff72dc8bf4af506a8c1b12fc0e82a97ac514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kscreenlocker-5.13.90.tar.xz">kscreenlocker-5.13.90</a></td>
   <td align="right">119kB</td>
   <td><tt>27f1801f6875856956b66f1609872d09fd3676c6efdee62e66aaf2beb2342246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/ksshaskpass-5.13.90.tar.xz">ksshaskpass-5.13.90</a></td>
   <td align="right">20kB</td>
   <td><tt>bb81a368ef2b285413f9d7cf522f6ecb118304e440471f0d17d91de448cc8e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/ksysguard-5.13.90.tar.xz">ksysguard-5.13.90</a></td>
   <td align="right">488kB</td>
   <td><tt>d360e4e2c0469832bf94b68e0fefcf81c647837388803d3d00961a49218df099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kwallet-pam-5.13.90.tar.xz">kwallet-pam-5.13.90</a></td>
   <td align="right">18kB</td>
   <td><tt>9c5762538f32f3d8911be8ff064efdc75e71fb5563a00d2a7edb9139c9cc0ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kwayland-integration-5.13.90.tar.xz">kwayland-integration-5.13.90</a></td>
   <td align="right">18kB</td>
   <td><tt>de2d9dece2296b310f2c3610761e8e9740468ff90655c58b0f8f90c489d8fc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kwin-5.13.90.tar.xz">kwin-5.13.90</a></td>
   <td align="right">6.2MB</td>
   <td><tt>38542d5dc8f5e2baeaad9492ec355eb7512792a64b4bc890783c9e360a48d9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/kwrited-5.13.90.tar.xz">kwrited-5.13.90</a></td>
   <td align="right">19kB</td>
   <td><tt>a4e183044c66e5174bb9d3b37f4ae0d2d449dc14485d6e859f1e32bd181c8414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/libkscreen-5.13.90.tar.xz">libkscreen-5.13.90</a></td>
   <td align="right">78kB</td>
   <td><tt>0d7e93f07e04299b7853e8dbe3b4fe9139e9e3ccf1e3618866f016252e06ba2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/libksysguard-5.13.90.tar.xz">libksysguard-5.13.90</a></td>
   <td align="right">560kB</td>
   <td><tt>dfb2ae570a5af4fbc302cc443337080adcef8c821c8e91435a09e15b017e4dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/milou-5.13.90.tar.xz">milou-5.13.90</a></td>
   <td align="right">56kB</td>
   <td><tt>a664db52ae8e73c1bb04bc5913bcc4ef47be925a2fae0e37d204ab2bddcc118c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/oxygen-5.13.90.tar.xz">oxygen-5.13.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>81e20dae64273c57a8e000c0e19a71d6a26ca50bf44a28bf2301f7b57b1bdd6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-browser-integration-5.13.90.tar.xz">plasma-browser-integration-5.13.90</a></td>
   <td align="right">102kB</td>
   <td><tt>2e5b5c75501406bf484f6c5f981a127ae2336b70b8d7c57be9def617cbbb2519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-desktop-5.13.90.tar.xz">plasma-desktop-5.13.90</a></td>
   <td align="right">8.7MB</td>
   <td><tt>323b3f393ee973b2b9bfcf1935106c97d9f40551b88b71b3be552136520aed30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-integration-5.13.90.tar.xz">plasma-integration-5.13.90</a></td>
   <td align="right">52kB</td>
   <td><tt>b1fbd09cd75741f5e60956cf41da3eb6d4bc2de28f91b5d156822ff228e5b827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-nm-5.13.90.tar.xz">plasma-nm-5.13.90</a></td>
   <td align="right">692kB</td>
   <td><tt>b1a90c170c7525e78cf3b3f7cd39aa1c4bb88f05c1bdfb94753d472bbebc2c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-pa-5.13.90.tar.xz">plasma-pa-5.13.90</a></td>
   <td align="right">91kB</td>
   <td><tt>12f9a773c23149af4f3501d753a0366bd07a10ba6ae9873aa9e966c51883c66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-sdk-5.13.90.tar.xz">plasma-sdk-5.13.90</a></td>
   <td align="right">243kB</td>
   <td><tt>30bf8decbb71341aae295e9afa9409d03536854359f8a805f36011f7dc21b239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-tests-5.13.90.tar.xz">plasma-tests-5.13.90</a></td>
   <td align="right">1kB</td>
   <td><tt>1637cef291abb827b90118f69c7088cf6b241eedf8db10237c36e1d6d28f3d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-vault-5.13.90.tar.xz">plasma-vault-5.13.90</a></td>
   <td align="right">117kB</td>
   <td><tt>75d22be71aafd88ba63c16f76af80ef8af0c6a0f003bd3399d1798ec8afa9cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-workspace-5.13.90.tar.xz">plasma-workspace-5.13.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>25fe7754d7106ec47ade5a3dc36ef51063ff33f23ac478492bf7d73b1703f734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plasma-workspace-wallpapers-5.13.90.tar.xz">plasma-workspace-wallpapers-5.13.90</a></td>
   <td align="right">43MB</td>
   <td><tt>e8c441543cefc5cfac33531141a7c18523b784f764c9ca6f682d807db3b6f822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/plymouth-kcm-5.13.90.tar.xz">plymouth-kcm-5.13.90</a></td>
   <td align="right">38kB</td>
   <td><tt>81ed660a6419c0a0f3abb8ea9645ac9b9f19089dea200160306edab1f32cbf8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/polkit-kde-agent-1-5.13.90.tar.xz">polkit-kde-agent-1-5.13.90</a></td>
   <td align="right">42kB</td>
   <td><tt>0b0ea2a30372a531acba02d8514107ae7e2582915f3900ed618c4fda0826c04e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/powerdevil-5.13.90.tar.xz">powerdevil-5.13.90</a></td>
   <td align="right">581kB</td>
   <td><tt>96dbb3469a5e5ba2484e593fe5ddd81b76c154891ad7d6e445f04ad2bf2e87f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/sddm-kcm-5.13.90.tar.xz">sddm-kcm-5.13.90</a></td>
   <td align="right">59kB</td>
   <td><tt>f6810eb1aad7ce09cf26d7c1de7f7a563b283689d8bc1aaaa0947a40e5e573eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/systemsettings-5.13.90.tar.xz">systemsettings-5.13.90</a></td>
   <td align="right">175kB</td>
   <td><tt>1f7c44a5325730d9a3aca3aac034c795dc3e70cb5d32a4c27adcbaa366b71e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/user-manager-5.13.90.tar.xz">user-manager-5.13.90</a></td>
   <td align="right">533kB</td>
   <td><tt>51cf8e61de820dce11e9a18f896b6d3aef90b40c295d3595b0fb766a5fe33820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.13.90/xdg-desktop-portal-kde-5.13.90.tar.xz">xdg-desktop-portal-kde-5.13.90</a></td>
   <td align="right">49kB</td>
   <td><tt>25f4fb15a4d5d20e385ea0f70bb4cd3386b7cc9b70a7679f5709f3ea6b357a8a</tt></td>
</tr>

</table>
