{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<section class="section-blue py-1">
  <div class="container">
    <h2>{{ $.Page.Params.highlights_title }}</h2>
    <div class="highlight-grid">
      <div class="overview">
        {{- partial "video.html" (dict "poster" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Overview_720p.png" "webm" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Overview_720p.webm" "mp4" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Overview_720p.mp4") -}}
      </div>
      <div class="overview-desc">
        <h3 class="text-center mt-1 mb-3">{{ $.Page.Params.overview.header }}</h3>
        <p class="text-center">{{ $.Page.Params.overview.text }}</p>
      </div>
      <div class="hl-krunner">
        {{- partial "video.html" (dict "poster" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Krunner_assistant_720p.png" "webm" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Krunner_assistant_720p.webm" "mp4" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Krunner_assistant_720p.mp4") -}}
      </div>
      <div class="hl-krunner-desc">
        <h3 class="text-center mt-1 mb-3">{{ $.Page.Params.krunner.header }}</h3>
        <p class="text-center">{{ $.Page.Params.krunner.text }}</p>
      </div>
      <div class="fingerprint">
        {{- partial "video.html" (dict "poster" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Fingerprint_720p.png" "webm" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Fingerprint_720p.webm" "mp4" "https://cdn.kde.org/promo/Announcements/Plasma/5.24/Fingerprint_720p.mp4") -}}
      </div>
      <div class="fingerprint-desc">
        <h3 class="text-center mt-1 mb-3">{{ $.Page.Params.fingerprint.header }}</h3>
        <p class="text-center">{{ $.Page.Params.fingerprint.text }}</p>
      </div>
    </div>
  </div>
</section> 
